.rdr-feed {
  display: block;
  min-height: 100%;
  margin: 0;
}

.rdr-feed-list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.rdr-feed-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  height: fit-content;
  margin: 0 auto;

  z-index: 1;
}

#rdr-feed-up-btn div {
  z-index: 5;
}
